  <hr>
    <div class="row">
        <div class="col-md-12">
          {{ knp_menu_render('EsokiaFrontBundle:MenuBuilder:footerMenu',   {'currentAsLink':false, 'currentClass': 'active'} ) }}
        </div>
    </div>



