 {% extends "EsokiaFrontBundle::layout.html.twig" %}

{% block content -%}
<div class="row">
    <div class="jumbotron">
      <h3>{{'Hey this is your FRONT BASE'|trans}}</h3>
      
      <p>
          {{'This part is accessible by everyone'|trans}}<br>
          {{'Clic on the admin button to access the securized area'|trans}}<br>
          {{'The Default credentials are admin / admin but you MUST CHANGE IT AS SOON AS POSSIBLE'|trans}}
      </p>
      
    </div>
            
</div>
      
{% endblock content %}